:root {
  --padding: 50px;
}

#chartContainer {
  height: calc(100vh - var(--navbar-height) - 2 * var(--padding));
  display: flex;
  flex-direction: row;
  padding: var(--padding);
}

.chart-information {
}

.chart-type-selection {
  display: flex;
  flex-direction: row;
}

.chart-card {
  background-color: #2e2e33;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  height: 450px;
}

.chart-card .title {
  color: white;
  font-size: 1.2em;
}

.chart-card .content {
  padding: 10px;
}
