#mapContainer {
    border: none;
    width: 100%;
}

.map-and-filter-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow-y: hidden;
}


.filter-area {
    background-color: #999999;
    color: black;
    width: 15%;
    height: 100%;
}


#searchField.uk-search-input {
    background-color: #999999;
    color: black;
    width: 80%;
}

#searchField.uk-search-input::placeholder {
    color: black;
}

.filter-area .uk-badge {
    background-color: #333333;
}

.filter-area .uk-badge:hover {
    cursor: pointer;
}

.filter-area .uk-badge.selected {
    background-color: white;
    color: black;
}

#applyFilterButton {
    position: absolute;
    bottom: 10px;
}