#mapContainer {
    border: none;
    width: 100%;
}

.map-and-filter-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow-y: hidden;
}


.filter-area {
    background-color: #999999;
    color: black;
    width: 15%;
    height: 100%;
}


#searchField.uk-search-input {
    background-color: #999999;
    color: black;
    width: 80%;
}

#searchField.uk-search-input::placeholder {
    color: black;
}

.filter-area .uk-badge {
    background-color: #333333;
}

.filter-area .uk-badge:hover {
    cursor: pointer;
}

.filter-area .uk-badge.selected {
    background-color: white;
    color: black;
}

#applyFilterButton {
    position: absolute;
    bottom: 10px;
}



/* Style marker popup: https://docs.mapbox.com/help/tutorials/building-a-store-locator/ */
.mapboxgl-popup {
    width: 600px;
    font: 12px/20px 'PlainRegular', sans-serif;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-tip {
    display: none;
}


.mapboxgl-popup-content {
  background: #999999;
  color: #fff;
  margin: 0;
  display: block;
  padding: 0;
  border-radius: 3px 3px 0 0;
}

.mapboxgl-popup-content .url-link { 
    color: white;
}

.mapboxgl-popup-content .url-link:hover { 
    color: black;
}

.mapboxgl-popup-content .header {
  background: black;
  margin-top: -15px;
}

.mapboxgl-popup-content .header h3 {
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
}


.mapboxgl-popup-content .content {
  padding: 10px;
  color: black;
}


