@font-face {
    font-family: PlainBold;
    src: url("../fonts/Plain-Bold.otf") format("opentype");
}

@font-face {
    font-family: PlainRegular;
    src: url("../fonts/Plain-Regular.otf") format("opentype");
}

:root {
    --navbar-height: 80px;
}

.uk-navbar-container {
    background: white !important;
}

.uk-logo {
    font-family: "PlainBold", monospace;
    color: black;
}

.uk-navbar-nav li.uk-active a {
    color: black;
}

.uk-navbar-nav li a {
    font-family: "PlainRegular", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: "PlainRegular", monospace;
}

.white {
    color: white;
}

.background-black {
    background: black;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

#mapContainer {
    border: none;
    width: 100%;
}

.map-and-filter-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
}


.filter-area {
    background-color: #999999;
    color: black;
    width: 15%;
    height: 100%;
}

#filterForm {
    width: 100%;
    height: 100%;
}

#filterForm .uk-search-input {
    background-color: #999999;
    color: black;
    width: 80%;
}

#filterForm .uk-search-input::placeholder {
    color: black;
}

#filterForm p {
}

#filterForm .uk-range {
}

#filterForm .uk-badge {
    background-color: #333333;
}

#filterForm .uk-select {
    background-color: #999999;
    border: 1px solid black;
    color: black;
    font-size: 0.8em;
}