<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Shared Mobility Compass - Data View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/normalize/css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/uikit/css/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css')}}">
</head>

<body class="background-black">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="./index.html">SMC</a>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('index') }}">Map /</a></li>
                <li class="uk-active"><a href="#">Data /</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <a class="uk-navbar-item uk-logo" href="#"><span uk-icon="icon: location"></span></a>
            </ul>
        </div>
    </nav>
    <div class="uk-container-expand">
        <div uk-grid class="uk-padding white">
            <div class="uk-width-1-3@m">
                <div class="chart-information">
                    <h1 class="white">Info</h1>
                    <p>
                        Das Bar Chart soll die Anzahl der verschiedenen Distributoren aufgeschlüsselt nach Kanton darstellen (d.h Zürich hat 5 Anbieter, 2 bieten Velos an, 3 Autos).
                    </p>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <div class="chart-card">
                    <h1 class="title">Bar Chart</h1>
                    <div class="content">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div uk-grid class="uk-padding white">
            <div class="uk-width-1-3@m">
                <div class="chart-information">
                    <h1 class="white">Info</h1>
                    <p>
                        Das Bubble Chart zeigt die verschiedenen Anbieter als Bubbles auf, wobei die Bubble Grösse von den Anzahl der Angebote (z.b Anzahl Velos etc.) abhängt.
                    </p>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <div class="chart-card">
                    <h1 class="title">Bubble Chart</h1>
                    <div class="content">
                        <canvas id="bubbleChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit-icons.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/chartjs/js/chart.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/data.js')}}"></script>
</body>

</html>