<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Shared Mobility Compass - Data View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/normalize/css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/uikit/css/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/nprogress/css/nprogress.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data.css')}}">
</head>

<body class="background-black">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="./index.html">SMC</a>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('index') }}">Map /</a></li>
                <li class="uk-active"><a href="#">Data /</a></li>
            </ul>
        </div>
    </nav>
    <div class="uk-container-expand">
        <div class="searchContainer uk-padding-small uk-margin-small-top">
            <span uk-icon="icon: search"></span>
            <input class="uk-search-input" type="search" id="searchField" placeholder="Enter an address or location..." />
        </div>
        <div uk-grid class="uk-padding white">
            <div class="chart-information uk-width-1-1">
                <h1 class="white">Info</h1>
                <p>
                    This bar chart visualizes all shared mobility providers grouped by vehicle type for the provided location.
                </p>
            </div>
            <div class="chart-card uk-width-1-1">
                <h1 class="title">Bar Chart</h1>
                <div class="content">
                    <div class="no-content" id="noBarChartContent"><h1 class="white center">No Information available</h1></div>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
        <div uk-grid class="uk-padding white">
            <div class="chart-information uk-width-1-1">
                <h1 class="white">Info</h1>
                <p>
                    This bubble chart visualizes all shared mobility providers grouped by vehicle type for the provided location. The bubble size corresponds to the number of providers per vehicle type. The more providers, the bigger the bubble...
                </p>
            </div>
            <div class="chart-card uk-width-1-1">
                <h1 class="title">Bubble Chart</h1>
                <div class="content">
                    <div class="no-content" id="noBubbleChartContent"><h1 class="white center">No Information available</h1></div>
                    <canvas id="bubbleChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit-icons.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/chartjs/js/chart.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/nprogress/js/nprogress.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/data.js')}}"></script>
</body>

</html>