<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Shared Mobility Compass - Map View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/normalize/css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/uikit/css/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/mapbox-gl/css/mapbox-gl.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">SMC</a>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Map /</a></li>
                <li><a href="{{ url_for('data') }}">Data /</a></li>
            </ul>
        </div>
    </nav>
    <div class="uk-container-expanded map-and-filter-area">
        <div class="filter-area uk-padding-small">
            <span uk-icon="icon: search"></span>
            <input class="uk-search-input" type="search" id="searchField" placeholder="Enter an address or location..." />
            <div class="uk-margin-large-top">
                <p class="uk-margin-small-bottom">Filter by Vehicle Type</p>
                <span class="uk-badge uk-padding-small uk-margin-small-top uk-margin-small-bottom">Bike</span>
                <span class="uk-badge uk-padding-small">E-Bike</span>
                <span class="uk-badge uk-padding-small">E-CargoBike</span>
                <span class="uk-badge uk-padding-small">E-Scooter</span>
                <span class="uk-badge uk-padding-small">E-Car</span>
                <span class="uk-badge uk-padding-small">Car</span>
            </div>
            <button class="uk-button uk-button-secondary" id="applyFilterButton">Apply Filter</button>
        </div>
        <div id="mapContainer"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit-icons.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/mapbox-gl/js/mapbox-gl.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
</body>

</html>