<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Shared Mobility Compass - Map View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/normalize/css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/uikit/css/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/mapbox-gl/css/mapbox-gl.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="#">SMC</a>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Map /</a></li>
                <li><a href="{{ url_for('data') }}">Data /</a></li>
                <li><a href="{{ url_for('route') }}">Route /</a></li>
                <li><a href="{{ url_for('shared_mobility_data') }}">Shared Mobility Data</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <a class="uk-navbar-item uk-logo" href="#"><span uk-icon="icon: location"></span></a>
            </ul>
        </div>
    </nav>
    <div class="uk-container-expanded map-and-filter-area">
        <div class="filter-area uk-padding-small">
            <form id="filterForm">
                <span uk-icon="icon: search"></span>
                <input class="uk-search-input" type="search" id="searchValue" placeholder="Enter an address or location..." />
                <div class="uk-margin-large-top">
                    <span class="uk-badge">Bike</span>
                    <span class="uk-badge">Car</span>
                    <span class="uk-badge">Scooter</span>
                </div>
                <div class="uk-margin-large-top">
                    <p>Price in CHF per Hour</p>
                    <input class="uk-range" type="range" value="2" min="5" max="1000" step="0.5" />
                </div>
            </form>
        </div>
        <div id="mapContainer"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/uikit/js/uikit-icons.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/mapbox-gl/js/mapbox-gl.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
</body>

</html>